// add the variables you want to override in bootstrap
// --------------

$icon-font-path: "/fonts/";

// Grays
// -------------------------

$gray-darker:            #000;
$gray-dark:              #3D4344;
$gray:                   #849899;
$gray-light:             #B6CBCE;
$gray-lighter:           #E2ECED;
$very-light:             #fff;

// Brand colors
// -------------------------

$brand-primary:         #068BC6;
$brand-secondary:       #00688C;
$brand-tertiary:        #6CE0FF;

$brand-success:         #05AA8B;
$brand-warning:         $brand-secondary;
$brand-danger:          #B70071;
$brand-info:            $brand-secondary;


// Form states and alerts
// -------------------------

$state-success-text:             $very-light;
$state-success-bg:               $brand-success;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                $very-light;
$state-info-bg:                  $brand-info;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             $very-light;
$state-warning-bg:               $brand-warning;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              $very-light;
$state-danger-bg:                $brand-danger;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);

// Navbars
// -------------------------

$navbar-inverse-bg:                         $gray-dark !default;
