@import "skin";
@import "prototype/pygments";

.highlight {
  background: #FFF !important;
}

/* ==========================================================================
  Styleguide
   ========================================================================== */

body {
  // Reset to white
  background: #FFF;
}

html, body {
  height: 100%;
}

.styleguide-container {
  width: 100%;
  height: 100%;
  .col-sm-3 {
    background: $gray-lighter;
    height: 100%;
    overflow: scroll !important;
  }
  .col-sm-9 {
    overflow: scroll !important;
    height: 100%;
  }
  .styleguide-nav {
    padding: 10px 0;
  }
}

/* Component 
   ========================================================================== */

.component {
  padding: 20px;
  @media (min-width: $screen-md) {
    padding: 50px;
  }
  border-bottom: 4px solid mix($gray-lighter, $gray-light);
  > h1,
  > h2 {
    padding-top: 20px;
  }
}

.sample {
  //overflow: hidden;
  border-bottom: 1px solid $gray-lighter;
  padding: 0 0 20px;
  margin: 0 0 20px;
  &:last-child {
    border: none;
    padding: 0;
    margin: 0;
  }
  pre {
    margin: 0;
  }
  .style {
    padding: 20px;
    border: 1px solid mix($gray-lighter, $gray-light);
    margin: 0 0 12px;
  }
  .markup {
    line-height: 1.3;
     white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  .markup {
    clear: both;
    font-family: Monaco, Menlo, monospace;
    font-size: 11px;
    display: block;
  }
}

/* Overrides so we can shows elements that are normally hidden
   Like popovers and tooltips
   ========================================================================== */

.sample {
  @include clearfix;
  .style {
    position: relative;
    .tooltip {
      @include opacity(1);
    }
    .popover, .tooltip {
      margin: 20px;
      display: block;
      position: relative;
    }
    .tooltip {
      float: left; // be the smallest you can be
    }
    .modal {
      display: block;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      margin: 20px;
      z-index: 1;
      max-width: 100%;
    }
  }
}

/* Component: colors
   ========================================================================== */

#component-colors {
  .colors {
    @include clearfix;
  }
  .colors > div {
    width: 100px;
    min-height: 120px;
    font-size: 11px;
    float: left;
    text-align: center;
  }
  .color-example {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block;
    padding: 0 0 8px;
  }
}

/* Component: tooltip
   ========================================================================== */

#component-tooltip .style {
  min-height: 140px;
}