// charting
// -------------------------

.chart {
  svg {
    height:300px;
    display: block;
  }
  text {
    font-size: 0.9em;
  }
}

#chart-income-by-client {
  .nv-series,
  .nv-legend{
    display: none;
  }
}

.tick line {
  display: none !important;
}

.nvtooltip {
  border-radius:$border-radius-small;
}