<!-- Expand single -->
<div class="accordion" data-behavior="expand-single">
  <div class="accordion-child">
    <header>
      <a href="#" class="expand-collapse"><i class="glyphicon glyphicon-collapsed"></i> Accordion name</a>
    </header>
    <div class="content padded">
      <p>Content</p>
    </div>
  </div>
  <div class="accordion-child expanded">
    <header>
      <a href="#" class="expand-collapse"><i class="glyphicon glyphicon-expanded"></i> Accordion name</a>
    </header>
    <div class="content padded">
      <p>Content</p>
    </div>
  </div>
  <div class="accordion-child">
    <header>
      <a href="#" class="expand-collapse"><i class="glyphicon glyphicon-collapsed"></i> Accordion name</a>
    </header>
    <div class="content padded">
      <p>Content</p>
    </div>
  </div>
</div>

<br><br>

<!-- Expand all -->
<div class="accordion">
  <div class="accordion-child">
    <header>
      <a href="#" class="expand-collapse"><i class="glyphicon glyphicon-collapsed"></i> Accordion name</a>
    </header>
    <div class="content padded">
      <p>Content</p>
    </div>
  </div>
  <div class="accordion-child expanded">
    <header>
      <a href="#" class="expand-collapse"><i class="glyphicon glyphicon-expanded"></i> Accordion name</a>
    </header>
    <div class="content padded">
      <p>Content</p>
    </div>
  </div>
  <div class="accordion-child">
    <header>
      <a href="#" class="expand-collapse"><i class="glyphicon glyphicon-collapsed"></i> Accordion name</a>
    </header>
    <div class="content padded">
      <p>Content</p>
    </div>
  </div>
</div>