<h4>Button grid in 4 columns (default)</h4>
<div class="btn-grid">
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
</div>

<h4>Button grid in 2 columns</h4>
<div class="btn-grid btn-grid-2">
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
  <a href="#" class="btn btn-default">€10</a>
</div>