<table class="table">
  <tbody>
    <tr>
      <th>Name(s)</th>
      <th>Scope</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Land plants, also known as Embryophyta or Metaphyta.</td>
      <td>Plantae sensu strictissimo</td>
      <td>This group includes the liverworts, hornworts, mosses, and vascular plants, as well...</td>
    </tr>
    <tr>
      <td>Green plants - also known as Viridiplantae, Viridiphyta or Chlorobionta</td>
      <td>Plantae sensu stricto</td>
      <td>This group includes the land plants plus various groups of green algae, including stoneworts.</td>
    </tr>
    <tr>
      <td>Archaeplastida, Plastida or Primoplantae</td>
      <td>Plantae sensu lato</td>
      <td>This group comprises the green plants above plus Rhodophyta (red algae) and Glaucophyta...</td>
    </tr>
  </tbody>
</table>