<!-- With fixed widths -->
<div class="datagrid">
  <div class="tr">
      <div class="th w4">ID</div>
      <div class="th w4 sorted">Aanspr. <b class="caret"></b></div>
      <div class="th w5">Lorem</div>
  </div>
  <div class="tr">
      <div class="td w4">20251</div>
      <div class="td w4">20251</div>
      <div class="td w5">20251</div>
  </div>
  <div class="tr">
      <div class="td w4">20251</div>
      <div class="td w4">20251</div>
      <div class="td w5">20251</div>
  </div>
</div>
