<div class="app-icons">
  <i class="glyphicon glyphicon-app-backoffice"></i>
  <i class="glyphicon glyphicon-app-box-office"></i>
  <i class="glyphicon glyphicon-app-config"></i>
  <i class="glyphicon glyphicon-app-contacts"></i>
  <i class="glyphicon glyphicon-app-insights"></i>
  <i class="glyphicon glyphicon-app-sales"></i>
</div>

<div class="icons">
  <i class="glyphicon glyphicon-add"></i>
  <i class="glyphicon glyphicon-arrow-alt-left"></i>
  <i class="glyphicon glyphicon-arrow-alt-right"></i>
  <i class="glyphicon glyphicon-arrow-down"></i>
  <i class="glyphicon glyphicon-arrow-left"></i>
  <i class="glyphicon glyphicon-arrow-right"></i>
  <i class="glyphicon glyphicon-arrow-select"></i>
  <i class="glyphicon glyphicon-arrow-up"></i>
  <i class="glyphicon glyphicon-avatar"></i>
  <i class="glyphicon glyphicon-check"></i>
  <i class="glyphicon glyphicon-collapsed"></i>
  <i class="glyphicon glyphicon-expanded"></i>
  <i class="glyphicon glyphicon-grid"></i>
  <i class="glyphicon glyphicon-help"></i>
  <i class="glyphicon glyphicon-list"></i>
  <i class="glyphicon glyphicon-locate"></i>
  <i class="glyphicon glyphicon-mail"></i>
  <i class="glyphicon glyphicon-pie"></i>
  <i class="glyphicon glyphicon-pin"></i>
  <i class="glyphicon glyphicon-print"></i>
  <i class="glyphicon glyphicon-profile"></i>
  <i class="glyphicon glyphicon-question"></i>
  <i class="glyphicon glyphicon-reset"></i>
  <i class="glyphicon glyphicon-search"></i>
  <i class="glyphicon glyphicon-share"></i>
  <i class="glyphicon glyphicon-world"></i>
  <i class="glyphicon glyphicon-zoom-in"></i>
  <i class="glyphicon glyphicon-zoom-out"></i>
</div>