<h4>Mini bar chart (regular)</h4>

<div class="mini-bar-chart">
  <var class="none" style="width: 0%;"></var>
  <span class="progress-numeric">0%</span>
</div>

<div class="mini-bar-chart">
  <var style="width: 50%;"></var>
  <span class="progress-numeric">50%</span>
</div>

<div class="mini-bar-chart">
  <var style="width: 100%;"></var>
  <span class="progress-numeric">100%</span>
</div>

<h4>Mini bar chart with states</h4>

<div class="mini-bar-chart normal">
  <var class="none" style="width: 0%;"></var>
  <span class="progress-numeric">0%</span>
</div>

<div class="mini-bar-chart normal">
  <var style="width: 10%;"></var>
  <span class="progress-numeric">10%</span>
</div>

<div class="mini-bar-chart normal">
  <var style="width: 50%;"></var>
  <span class="progress-numeric">50%</span>
</div>

<div class="mini-bar-chart danger">
  <var style="width: 90%;"></var>
  <span class="progress-numeric">90%</span>
</div>

<div class="mini-bar-chart error">
  <var style="width: 100%;"></var>
  <span class="progress-numeric">100%</span>
</div>
