<ul class="options">
  <li><a href="#">Option</a></li>
  <li><a href="#">Option</a></li>
  <li>
    <a href="#">Option</a>
    <ul class="options">
      <li><a href="#">Option</a></li>
      <li><a href="#">Option</a></li>
      <li><a href="#">Option</a></li>
      <li><a href="#">Option</a></li>
      <li>
        <a href="#">Option</a>
        <ul class="options">
          <li><a href="#">Option</a></li>
          <li><a href="#">Option</a></li>
          <li><a href="#">Option</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>