<table class="table table-condensed table-striped table-hover table-sortable table-nowrap">
  <thead>
    <tr>
      <th class="sortable"><a href="#">ID</a></th>
      <th class="sortable"><a href="#">Aanspr.</a></th>
      <th class="sortable sorted-asc">
        <a href="#" title="Sorted ascending">
          Naam <span class="sort-indicator"><b class="caret"></b><b class="caret flipped"></b></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>21</td>
      <td>Dhr.</td>
      <td>Karel De keizer</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Mevr.</td>
      <td>Nina De Man</td>
    </tr>
  </tbody>
</table>

<table class="table table-condensed table-striped table-hover table-sortable table-nowrap">
  <thead>
    <tr>
      <th class="sortable"><a href="#">ID</a></th>
      <th class="sortable"><a href="#">Aanspr.</a></th>
      <th class="sortable sorted-desc" title="Sorted descending">
        <a href="#">
          Naam <span class="sort-indicator"><b class="caret"></b><b class="caret flipped"></b></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>21</td>
      <td>Dhr.</td>
      <td>Karel De keizer</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Mevr.</td>
      <td>Nina De Man</td>
    </tr>
  </tbody>
</table>