<div class="tag small">
  <span class="label">Rock</span>
  <a href="#">&times;</a>
</div>

<div class="tag small">
  <span class="label">Metal</span>
  <a href="#">&times;</a>
</div>

<div class="tag small">
  <span class="label">Another tag</span>
  <a href="#">&times;</a>
</div>

<!-- With operators -->

<div class="tag small">
  <span class="operator">&amp;</span>
  <span class="label">Another tag</span>
  <a href="#">&times;</a>
</div>

<div class="tag small addition">
  <span class="operator">+</span>
  <span class="label">Another tag</span>
  <a href="#">&times;</a>
</div>

<div class="tag small subtraction">
  <span class="operator">-</span>
  <span class="label">Another tag</span>
  <a href="#">&times;</a>
</div>

<!-- Subtle -->

<div class="tag small tag-subtle"><span class="label">Pers</span><a href="#">×</a></div>
<div class="tag small tag-subtle"><span class="label">VIPs</span><a href="#">×</a></div>
<div class="tag small tag-subtle"><span class="label">Musici</span><a href="#">×</a></div>

<!-- Without closing -->

<div class="tag small tag-subtle"><span class="label">Pers</span></div>
<div class="tag small tag-subtle"><span class="label">VIPs</span></div>
<div class="tag small tag-subtle"><span class="label">Musici</span></div>
