<div class="tag">
  <span class="label">Rock</span>
  <a href="#">&times;</a>
</div>

<div class="tag">
  <span class="label">Metal</span>
  <a href="#">&times;</a>
</div>

<div class="tag">
  <span class="label">Another tag</span>
  <a href="#">&times;</a>
</div>

<!-- With operators -->

<div class="tag">
  <span class="label">Another tag</span>
  <a href="#">&times;</a>
</div>

<div class="tag addition">
  <span class="operator">+</span>
  <span class="label">Another tag</span>
  <a href="#">&times;</a>
</div>

<div class="tag subtraction">
  <span class="operator">-</span>
  <span class="label">Another tag</span>
  <a href="#">&times;</a>
</div>

<!-- Subtle -->

<div class="tag tag-subtle"><span class="label">Pers</span><a href="#">×</a></div>
<div class="tag tag-subtle"><span class="label">VIPs</span><a href="#">×</a></div>
<div class="tag tag-subtle"><span class="label">Musici</span><a href="#">×</a></div>

<!-- Without closing -->

<div class="tag tag-subtle"><span class="label">Pers</span></div>
<div class="tag tag-subtle"><span class="label">VIPs</span></div>
<div class="tag tag-subtle"><span class="label">Musici</span></div>
