---
layout: app
title: Add invoice
state: add-invoice
---

<div class="page-header clearfix">
  <h1 class="pull-left"><span class="glyphicon glyphicon-file"></span> Add invoice</h1>
  <div class="pull-right">
    <div class="form-inline">
      <div class="checkbox">
        <label>
          <input type="checkbox" checked>
          Use standard rate
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked>
          Use default payment terms
        </label>
      </div>
    </div>
  </div>
</div>


{% include forms/invoice-to.html %}
{% include forms/invoice-content.html %}
{% include forms/invoice-submit.html %}
