---
layout: app
title: Add invoice
state: add-invoice
---

<div class="page-header clearfix">
  <h1 class="pull-left"><span class="glyphicon glyphicon-file"></span> Add invoice</h1>
  <div class="pull-right">
    <div class="form-inline">
      <div class="checkbox">
        <label>
          <input type="checkbox" checked>
          Use standard rate
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked>
          Use default payment terms
        </label>
      </div>
    </div>
  </div>
</div>


{% include forms/invoice-to.html %}
{% include forms/invoice-content.html %}



<div class="panel panel-default">
  <div class="panel-body">
    <a href="/invoices.html" class="btn pull-left">Cancel</a>

    <div class="btn-toolbar pull-right" role="toolbar">
      <a href="/images/invoice.pdf" class="btn btn-default">Preview</a>
      <a class="btn btn-default" data-toggle="modal" data-target="#send-email">Send via e-mail</a>
      <a href="/invoices.html" class="btn btn-success">Save</a>
    </div>

  </div>
</div> <!-- end panel -->
