---
layout: app
title: Add invoice
state: add-invoice
---

<div class="page-header-custom clearfix">
  <div class="container">
    <h1 class="pull-left">
      <div class="icon-large icon-invoices-i"></div>
      Add invoice
    </h1>
    <div class="form-inline pull-right">
      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" checked> Use standard rate
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" checked> Use default payment terms
        </label>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% include forms/invoice-to.html %}
  {% include forms/invoice-content.html %}
  {% include forms/invoice-submit.html %}
</div>