---
layout: app
title: Invoices
---

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Current time period</div>
      <div class="panel-body">
        <select class="form-control">
          <option>2014</option>
          <option>2013</option>
          <option>2012</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Outstanding</div>
          <div class="panel-body">
            € 2400
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Paid since 01/01/2014</div>
          <div class="panel-body">
            € 5845
          </div>
        </div>
      </div>
    </div><!-- end row -->

  </div>
</div><!-- end row -->

<h2>Invoices to be paid</h2>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>No.</th>
      <th>Status</th>
      <th>Value BTW in.</th>
      <th>Value BTW ex.</th>
      <th>BTW</th>
      <th>Due date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for num in (1..5) %}
    <tr>
      <td><a href="#">Client name</td>
      <td>{% cycle '221', '220', '219', '218' %}</td>
      <td>
        {% cycle '<span class="label label-default">Not paid</span>', '<span class="label label-danger">Late</span>' %}
      </td>
      <td>€1210</td>
      <td>€1000</td>
      <td>€210</td>
      <td>In 5 days</td>
      <td>
        <a href="#" class="btn btn-default btn-xs">Edit</a>
        <a href="#" class="btn btn-default btn-xs">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Paid invoices</h2>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>No.</th>
      <th>Status</th>
      <th>Value BTW in.</th>
      <th>Value BTW ex.</th>
      <th>BTW</th>
      <th>Paid on time?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for num in (1..10) %}
    <tr>
      <td><a href="#">Client name</td>
      <td>{% cycle '217', '216', '215', '214', '213', '212', '211', '210', '209', '208' %}</td>
      <td><span class="label label-success">Paid</span></td>
      <td>€1210</td>
      <td>€1000</td>
      <td>€210</td>
      <td>OK</td>
      <td>
        <a href="#" class="btn btn-default btn-xs">Edit</a>
        <a href="#" class="btn btn-default btn-xs">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>