---
layout: styleguide
environment: styleguide
title: Style guide
---

<div class="style-guide-container row">

<nav class="style-guide-nav">
  <div class="list-group" data-spy="affix" data-offset-top="200">
    <a class="list-group-item" href="#introduction">Introduction</a></li>
    <a class="list-group-item" href="#component-colors">Colors</a></li>
    <a class="list-group-item" href="#component-icon-font">Icon font</a></li>
    <a class="list-group-item" href="#component-forms">Forms</a></li>
    <a class="list-group-item" href="#component-dropdowns">Dropdowns</a></li>
    <a class="list-group-item" href="#component-type">Type</a></li>
    <a class="list-group-item" href="#component-autocomplete">Autocomplete</a></li>
    <a class="list-group-item" href="#component-alerts">Alerts</a></li>
    <a class="list-group-item" href="#component-buttons">Buttons</a></li>
    <a class="list-group-item" href="#component-tooltips">Tooltips</a></li>
    <a class="list-group-item" href="#component-popover">Popover</a></li>
    <a class="list-group-item" href="#component-modal">Modal</a></li>
    <a class="list-group-item" href="#component-breadcrumbs">Breadcrumbs</a></li>
  </div>
  &nbsp;<!-- Just so our column stays in place -->
</nav>

<div class="style-guide-content">

    <div id="introduction">

        <div class="article">
          <h1>{{site.name}} components</h1>
        </div>

    </div>

    <div id="component-colors" class="component">
        <h2>Component: colors</h2>

        <table class="table table-horizontal">
          <tr>
              <th>Note</th>
              <td>Note that these colors have <strong>semantic</strong> names (except for light/dark).</td>
          </tr>
        </table>
        
        <h3>Grays</h3>
        <div class="colors">
            <div>
                <div class="color-example" style="background: #5cb85c;"></div>
                <p>$brand-success: #5cb85c</p>
            </div>
            <div>
                <div class="color-example" style="background: #d9534f;"></div>
                <p>$brand-danger: #d9534f</p>
            </div>
            <div>
                <div class="color-example" style="background: #428bca;"></div>
                <p>$brand-primary: #428bca</p>
            </div>
            <div>
                <div class="color-example" style="background: #f0ad4e;"></div>
                <p>$brand-warning: #f0ad4e</p>
            </div>
            <div>
                <div class="color-example" style="background: #5bc0de;"></div>
                <p>$brand-info: #5bc0de</p>
            </div>
        </div>

        <h3>Brand colors</h3>
        <div class="colors">
          <div>
              <div class="color-example" style="background: #555;"></div>
              <p>$gray: #555</p>
          </div>
          <div>
              <div class="color-example" style="background: #333;"></div>
              <p>$gray-dark: #333</p>
          </div>
          <div>
              <div class="color-example" style="background: #222;"></div>
              <p>$gray-darker: #222</p>
          </div>
          <div>
              <div class="color-example" style="background: #999;"></div>
              <p>$gray-light: #999</p>
          </div>
          <div>
              <div class="color-example" style="background: #eee;"></div>
              <p>$gray-lighter: #eee</p>
          </div>
        </div>

    </div>

<div id="component-icon-font" class="component">
    <h2>Component: icon font</h2>

    <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_icons.scss</code></td>
      </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/icon_font.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/icon_font.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-forms" class="component">

    <h2>Component: forms</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_forms.scss</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>None</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/simpleform.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/simpleform.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/simpleform-validation.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/simpleform-validation.html %}
{% endhighlight %}
        </div>
    </div>


    <div class="sample">
        <div class="style">
            {% include patterns/radio-buttons-inline.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/radio-buttons.html %}
{% endhighlight %}
        </div>
    </div>
    <div class="sample">
        <div class="style">
            {% include patterns/checkboxes-inline.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/checkboxes.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/radio-buttons.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/radio-buttons.html %}
{% endhighlight %}
        </div>
    </div>
    <div class="sample">
        <div class="style">
            {% include patterns/checkboxes.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/checkboxes.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-dropdowns" class="component">

    <h2>Component: dropdowns</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_dropdowns.scss</code></td>
        </tr>
        <tr>
            <th>JS source file</th>
            <td><code>bootstrap-dropdown.js</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>Buttons</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/dropdown.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/dropdown.html %}
{% endhighlight %}
        </div>
    </div>

</div>


<div id="component-type" class="component">
    <h2>Component: type</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_type.scss</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>None</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/h1.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/h1.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/h2.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/h2.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/h3.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/h3.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/h4.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/h4.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/p.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/p.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/ul.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/ul.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-alerts" class="component">

    <h2>Component: alerts</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_alerts.scss</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>/</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/alert.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/alert.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/alert_error.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/alert_error.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/alert_success.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/alert_success.html %}
{% endhighlight %}
        </div>
    </div>

</div>


<div id="component-buttons" class="component">

    <h2>Component: buttons</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_buttons.scss</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>For groups: <code>_button-groups.scss</code></td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/button.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-primary.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-primary.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-success.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-success.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-error.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-error.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-group.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-group.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-loading.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-loading.html %}
{% endhighlight %}
        </div>
    </div>

</div>


<div id="component-tooltips" class="component">

  <h2>Component: tooltips</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_tooltip.scss</code></td>
      </tr>
      <tr>
          <th>JS source file</th>
          <td>
            <code>bootstrap-tooltip.js</code>
          </td>
      </tr>
  </table>

    <div class="sample">
        <div class="style">
            {% include patterns/tooltip.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/tooltip.html %}
{% endhighlight %}
        </div>
    </div>

</div>


<div id="component-popover" class="component">

  <h2>Component: popover</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_popovers.scss</code></td>
      </tr>
      <tr>
          <th>JS source file</th>
          <td>
            <code>bootstrap-popover.js (depends on bootstrap-tooltip.js)</code>
            <code>bootstrapx-clickover.js (depends on bootstrap-popover.js)</code>
          </td>
      </tr>
  </table>

    <div class="sample">
        <div class="style">
            {% include patterns/popover.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/popover.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-modal" class="component">

  <h2>Component: modal</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_modals.scss</code></td>
      </tr>
      <tr>
          <th>Notes</th>
          <td>Add a <code>.modal-big</code> class for a bigger modal. Add a <code>.modal-liquid</code> class to make the modal stretch.</td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/modal.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/modal.html %}
{% endhighlight %}
      </div>
  </div>
</div>

<div id="component-breadcrumbs" class="component">

  <h2>Component: breadcrumbs</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_breadcrumbs.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/breadcrumbs.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/breadcrumbs.html %}
{% endhighlight %}
      </div>
  </div>

</div>

</div><!-- /.style-guide-content -->
</div><!-- /.style-guide-container -->