---
layout: styleguide
environment: styleguide
title: Style guide
---

<div class="style-guide-container row">

<nav class="style-guide-nav">
  <div class="list-group" data-spy="affix" data-offset-top="200">
    <a class="list-group-item" href="#introduction">Introduction</a></li>
    <a class="list-group-item" href="#component-colors">Colors</a></li>
    <a class="list-group-item" href="#component-icon-font">Icon font</a></li>
    <a class="list-group-item" href="#component-forms">Forms</a></li>
    <a class="list-group-item" href="#component-dropdowns">Dropdowns</a></li>
    <a class="list-group-item" href="#component-typography">Typography</a></li>
    <a class="list-group-item" href="#component-autocomplete">Autocomplete</a></li>
    <a class="list-group-item" href="#component-alerts">Alerts</a></li>
    <a class="list-group-item" href="#component-buttons">Buttons</a></li>
    <a class="list-group-item" href="#component-slider">Slider</a></li>
    <a class="list-group-item" href="#component-tags">Tags</a></li>
    <a class="list-group-item" href="#component-tooltips">Tooltips</a></li>
    <a class="list-group-item" href="#component-popover">Popover</a></li>
    <a class="list-group-item" href="#component-modal">Modal</a></li>
    <a class="list-group-item" href="#component-data-table">Data table</a></li>
    <a class="list-group-item" href="#component-bordered-list">Bordered list</a></li>
    <a class="list-group-item" href="#component-sortable-list">Sortable list</a></li>
    <a class="list-group-item" href="#component-datagrid">Datagrid</a></li>
    <a class="list-group-item" href="#component-options">Option list</a></li>
    <a class="list-group-item" href="#component-accordion">Accordion</a></li>
    <a class="list-group-item" href="#component-mini-bar-chart">Mini bar chart</a></li>
    <a class="list-group-item" href="#component-button-grid">Button grid</a></li>
    <a class="list-group-item" href="#component-breadcrumbs">Breadcrumbs</a></li>
  </div>
  &nbsp;<!-- Just so our column stays in place -->
</nav>

<div class="style-guide-content">

    <div id="introduction">

        <div class="article">
          <h1>{{site.name}} components</h1>
        </div>

    </div>

    <div id="component-colors" class="component">
        <h2>Component: colors</h2>

        <table class="table table-horizontal">
          <tr>
              <th>Note</th>
              <td>Note that these colors have <strong>semantic</strong> names (except for light/dark).</td>
          </tr>
        </table>

        <div class="colors">
            <div>
                <div class="color-example" style="background: #FFF; box-shadow: 0 0 0 1px #DDD"></div>
                <p>$very-light-color: #FFF</p>
            </div>
            <div>
                <div class="color-example" style="background: #f5f6f7;"></div>
                <p>Not used ATM: #F5F6F7</p>
            </div>
            <div>
                <div class="color-example" style="background: #d1d6da;"></div>
                <p>$light-medium-color: #D1D6DA</p>
            </div>
            <div>
                <div class="color-example" style="background: #606b7c;"></div>
                <p>$gray: #606B7C</p>
            </div>
            <div>
                <div class="color-example" style="background: #373c44;"></div>
                <p>$gray-dark: #373c44</p>
            </div>
            <div>
                <div class="color-example" style="background: #202123;"></div>
                <p>$gray-darker: #202123</p>
            </div>
            <div>
                <div class="color-example" style="background: #000;"></div>
                <p>$very-dark-color: #000</p>
            </div>
            <div>
                <div class="color-example" style="background: #627b1e;"></div>
                <p>$brand-success: #627b1e</p>
            </div>
            <div>
                <div class="color-example" style="background: #c30d39;"></div>
                <p>$brand-danger: #c30d39</p>
            </div>
            <div>
                <div class="color-example" style="background: #643ABF;"></div>
                <p>$brand-help: #643ABF</p>
            </div>
            <div>
                <div class="color-example" style="background: #0555c8;"></div>
                <p>$brand-primary: #0555C8</p>
            </div>
            <div>
                <div class="color-example" style="background: #fc6c2b;"></div>
                <p>$danger-warning: #FC6C2B</p>
            </div>
        </div>

    </div>

<div id="component-icon-font" class="component">
    <h2>Component: icon font</h2>

    <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_icons.scss</code></td>
      </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/icon_font.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/icon_font.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-forms" class="component">

    <h2>Component: forms</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_forms.scss</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>None</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/simpleform.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/simpleform.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/simpleform-validation.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/simpleform-validation.html %}
{% endhighlight %}
        </div>
    </div>


    <div class="sample">
        <div class="style">
            {% include patterns/radio-buttons-inline.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/radio-buttons.html %}
{% endhighlight %}
        </div>
    </div>
    <div class="sample">
        <div class="style">
            {% include patterns/checkboxes-inline.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/checkboxes.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/radio-buttons.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/radio-buttons.html %}
{% endhighlight %}
        </div>
    </div>
    <div class="sample">
        <div class="style">
            {% include patterns/checkboxes.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/checkboxes.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-dropdowns" class="component">

    <h2>Component: dropdowns</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_dropdowns.scss</code></td>
        </tr>
        <tr>
            <th>JS source file</th>
            <td><code>bootstrap-dropdown.js</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>Buttons</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/dropdown.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/dropdown.html %}
{% endhighlight %}
        </div>
    </div>

</div>


<div id="component-autocomplete" class="component">

    <h2>Component: autocomplete (typeahead)</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td>_typeahead.scss</td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>Bower component: typeahead.js</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/autocomplete.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/autocomplete.html %}
{% endhighlight %}
        </div>
    </div>

</div>


<div id="component-typography" class="component">
    <h2>Component: typography</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_typography.scss</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>None</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/h1.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/h1.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/h2.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/h2.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/h3.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/h3.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/h4.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/h4.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/p.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/p.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/ul.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/ul.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-alerts" class="component">

    <h2>Component: alerts</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_alerts.scss</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>/</td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/alert.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/alert.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/alert_error.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/alert_error.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/alert_success.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/alert_success.html %}
{% endhighlight %}
        </div>
    </div>

</div>


<div id="component-buttons" class="component">

    <h2>Component: buttons</h2>

    <table class="table table-horizontal">
        <tr>
            <th>CSS source file</th>
            <td><code>_buttons.scss</code></td>
        </tr>
        <tr>
            <th>Dependencies</th>
            <td>For groups: <code>_button-groups.scss</code></td>
        </tr>
    </table>

    <div class="sample">
        <div class="style">
            {% include patterns/button.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-primary.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-primary.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-success.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-success.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-error.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-error.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-group.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-group.html %}
{% endhighlight %}
        </div>
    </div>

    <div class="sample">
        <div class="style">
            {% include patterns/button-loading.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/button-loading.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-slider" class="component">

  <h2>Component: slider</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>None</code></td>
      </tr>
      <tr>
          <th>JS source file</th>
          <td>
            <code>/</code>
          </td>
      </tr>
  </table>

    <div class="sample">
        <div class="style">
            {% include patterns/slider.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/slider.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-tags" class="component">

  <h2>Component: tags</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_tags.scss</code></td>
      </tr>
  </table>

    <div class="sample">
        <div class="style">
            {% include patterns/tags.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/tags.html %}
{% endhighlight %}
        </div>
    </div>
    <div class="sample">
        <div class="style">
            {% include patterns/tags-small.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/tags-small.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-tooltips" class="component">

  <h2>Component: tooltips</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_tooltip.scss</code></td>
      </tr>
      <tr>
          <th>JS source file</th>
          <td>
            <code>bootstrap-tooltip.js</code>
          </td>
      </tr>
  </table>

    <div class="sample">
        <div class="style">
            {% include patterns/tooltip.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/tooltip.html %}
{% endhighlight %}
        </div>
    </div>

</div>


<div id="component-popover" class="component">

  <h2>Component: popover</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_popovers.scss</code></td>
      </tr>
      <tr>
          <th>JS source file</th>
          <td>
            <code>bootstrap-popover.js (depends on bootstrap-tooltip.js)</code>
            <code>bootstrapx-clickover.js (depends on bootstrap-popover.js)</code>
          </td>
      </tr>
  </table>

    <div class="sample">
        <div class="style">
            {% include patterns/popover.html %}
        </div>
        <div class="markup">
{% highlight html %}
{% include patterns/popover.html %}
{% endhighlight %}
        </div>
    </div>

</div>

<div id="component-modal" class="component">

  <h2>Component: modal</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_modals.scss</code></td>
      </tr>
      <tr>
          <th>Notes</th>
          <td>Add a <code>.modal-big</code> class for a bigger modal. Add a <code>.modal-liquid</code> class to make the modal stretch.</td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/modal.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/modal.html %}
{% endhighlight %}
      </div>
  </div>
</div>

<div id="component-data-table" class="component">

  <h2>Component: data table</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_datagrid.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/data-table.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/data-table.html %}
{% endhighlight %}
      </div>
  </div>
</div>

<div id="component-bordered-list" class="component">

  <h2>Component: bordered list</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_bordered-list.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/bordered-list.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/bordered-list.html %}
{% endhighlight %}
      </div>
  </div>
</div>

<div id="component-sortable-list" class="component">

  <h2>Component: sortable list</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_sortable-list.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/sortable-list.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/sortable-list.html %}
{% endhighlight %}
      </div>
  </div>
</div>

<div id="component-datagrid" class="component">

  <h2>Component: data grid</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_data-grid.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/datagrid.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/datagrid.html %}
{% endhighlight %}
      </div>
  </div>
  <div class="sample">
      <div class="style">
          {% include patterns/datagrid2.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/datagrid2.html %}
{% endhighlight %}
      </div>
  </div>
  <div class="sample">
      <div class="style">
          {% include patterns/datagrid2.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/datagrid3.html %}
{% endhighlight %}
      </div>
  </div>
</div>

<div id="component-accordion" class="component">

  <h2>Component: accordion</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_accordion.scss</code></td>
      </tr>
      <tr>
          <th>JS source file</th>
          <td><code>accordion.js</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/accordion.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/accordion.html %}
{% endhighlight %}
      </div>
  </div>
</div>

<div id="component-options" class="component">

  <h2>Component: options list</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_options.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/options.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/options.html %}
{% endhighlight %}
      </div>
  </div>

  <div class="sample">
      <div class="style">
          {% include patterns/options-ul.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/options.html %}
{% endhighlight %}
      </div>
  </div>
</div>


<div id="component-mini-bar-chart" class="component">

  <h2>Component: mini bar chart</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_mini-bar-chart.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/mini-bar-chart.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/mini-bar-chart.html %}
{% endhighlight %}
      </div>
  </div>

</div>


<div id="component-button-grid" class="component">

  <h2>Component: button grid</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_button-grid.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/button-grid.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/button-grid.html %}
{% endhighlight %}
      </div>
  </div>

</div>



<div id="component-breadcrumbs" class="component">

  <h2>Component: breadcrumbs</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>_breadcrumbs.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/breadcrumbs.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/breadcrumbs.html %}
{% endhighlight %}
      </div>
  </div>

</div>

</div><!-- /.style-guide-content -->
</div><!-- /.style-guide-container -->