<!-- Modal for add client -->
<div id="add-client" class="modal fade in" {% if page.show-modal %}style="display: block;"{% endif %}>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New client</h4>
      </div>
      <div class="modal-body has-sections">

        <section>

          {% include forms/forms-add-client.html %}


        </section>

      </div><!-- .modal-body -->
      <div class="modal-footer">
        <a href="#" class="btn-link pull-left" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-success pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-plus-sign"></span> Add client</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->