<!-- Modal for help (general) -->
<div id="filter-bought-tickets" class="modal fade in" {% if page.show-modal %}style="display: block;"{% endif %}>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Kocht tickets voor</h4>
      </div>
      <div class="modal-body has-sections">
        <div class="checkbox-accordion">
          <div class="checkbox-accordion-child">
            <header>
              <label data-toggle-element="x1">
                <input type="checkbox"> tickets aantal tussen
              </label>
            </header>
            <div class="content hide" data-element-to-be-toggled="x1">
              <div class="form-inline">
                <label>van</label>
                <input type="text" value="1" class="input-mini form-control">
                <label>tot</label>
                <input type="text" value="10" class="input-mini form-control">
              </div>
            </div>
          </div>
          <div class="checkbox-accordion-child">
            <header>
              <label data-toggle-element="x2">
                <input type="checkbox"> bedrag tussen
              </label>
            </header>
            <div class="content hide" data-element-to-be-toggled="x2">
              <div class="form-inline">
                <div class="form-group">
                  <label class="control-label">van</label>
                  <div class="input-group">
                    <span class="input-group-addon">€</span>
                    <input type="text" class="input-mini form-control" value="1">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label">tot</label>
                  <div class="input-group">
                    <span class="input-group-addon">€</span>
                    <input type="text" class="input-mini form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="checkbox-accordion-child">
            <header>
              <label data-toggle-element="x3">
                <input type="checkbox"> voor evenement
              </label>
            </header>
            <div class="content hide" data-element-to-be-toggled="x3">
          
              <div class="row">
                <div class="col-sm-12">
          
                  <div class="form-group">
                    <label class="control-label">Met naam</label>
                    <div class="controls">
                      <select class="select2">
                        <option>Arctic Monkeys - 27/11/13 20:00 - Vorst Nationaal</option>
                        <option>Arctic Monkeys - 27/11/13 20:00 - Vorst Nationaal</option>
                        <option>Arctic Monkeys - 27/11/13 20:00 - Vorst Nationaal</option>
                        <option>Arctic Monkeys - 27/11/13 20:00 - Vorst Nationaal</option>
                        <option>Arctic Monkeys - 27/11/13 20:00 - Vorst Nationaal</option>
                        <option>Arctic Monkeys - 27/11/13 20:00 - Vorst Nationaal</option>
                      </select>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label class="control-label">Met tags</label>
                    <div class="controls">
                      <select class="select2">
                        <option>Rock</option>
                        <option>Metal</option>
                        <option>Dance</option>
                      </select>
                    </div>
                  </div>
          
                  <div class="form-group">
                    <label class="control-label">Voor productie</label>
                    <div class="controls">
                      <select class="select2">
                        <option>Productie 1</option>
                        <option>Productie 2</option>
                        <option>Productie 3</option>
                        <option>Productie 4</option>
                        <option>Productie 5</option>
                        <option>Productie 6</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label">In periode</label>
                    <div class="controls">
                      {% include inline-datepicker.html %}
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Voor organisator</label>
                    <div class="controls">
                      <select class="select2">
                        <option>Organisator 1</option>
                        <option>Organisator 2</option>
                        <option>Organisator 3</option>
                        <option>Organisator 4</option>
                        <option>Organisator 5</option>
                        <option>Organisator 6</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="checkbox-accordion-child">
            <header>
              <label data-toggle-element="x3">
                <input type="checkbox"> voor abonnement aantal tussen
              </label>
            </header>
            <div class="content hide" data-element-to-be-toggled="x3">
              <div class="form-inline">
                <label>van</label>
                <input type="text" value="1" class="input-mini">
                <label>tot</label>
                <input type="text" value="10" class="input-mini">
              </div>
            </div>
          </div>

          <div class="checkbox-accordion-child">
            <header>
              <label data-toggle-element="x4">
                <input type="checkbox"> met prijstype
              </label>
            </header>

            <div class="content hide" data-element-to-be-toggled="x4">
              <select class="form-control">
                <option>Prijstype a</option>
                <option>Prijstype b</option>
                <option>Prijstype c</option>
              </select>
            </div>
          </div>
          <div class="checkbox-accordion-child">
            <header>
              <label data-toggle-element="x5">
                <input type="checkbox"> in periode
              </label>
            </header>
            <div class="content hide" data-element-to-be-toggled="x5">
              {% include inline-datepicker.html %}
            </div>
          </div>
          <div class="checkbox-accordion-child">

            <header>
              <label data-toggle-element="x6">
                <input type="checkbox"> via verkoopkanaal
              </label>
            </header>

            <div class="content hide" data-element-to-be-toggled="x6">
              <select class="form-control">
                <option>Verkoopskanaal a</option>
                <option>Verkoopskanaal a</option>
                <option>Verkoopskanaal a</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Preview filter - only show if there is a value selected -->
        <div class="preview-filter well well-sm">
          <p>Preview filter</p>
          <div class="tag">
            <span class="label">Kocht tickets aantal tussen 1-5 bedrag tussen €10-€30 voorstelling met tag dans</span>
          </div>
       </div>

      </div><!-- .modal-body -->
      <div class="modal-footer">
        <a href="#" class="btn-link pull-left" data-dismiss="modal">Annuleren</a>
        <div class="pull-right">
          <div class="btn-toolbar query-actions">
            <a class="btn btn-primary" href="#" data-dismiss="modal">Verfijn selectie</a>
            <a class="btn btn-icon btn-success" href="#" data-dismiss="modal"><i class="glyphicon glyphicon-add"></i> Voeg toe aan selectie</a>
            <a class="btn btn-icon btn-danger" href="#" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Verwijder uit selectie</a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->