<!-- Modal for help (general) -->
<div id="help" class="modal fade in" {% if page.show-modal %}style="display: block;"{% endif %}>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">
        <div class="susy-cols ratio-1-4">
          <div class="col">
            <p>Kies een onderwerp:</p>
            <div class="list-group">
              <a href="#" class="list-group-item active">
                Een contact toevoegen
              </a>
              <a href="#" class="list-group-item">Een contact bewerken</a>
              <a href="#" class="list-group-item">Werken met filters</a>
            </div>
          </div>
          <div class="col">
            <h3>Een contact toevoegen:</h3>
            <div class="video-wrapper">
              <video src="videos/add-contact.mp4" controls></video>
            </div>
          </div>
        </div>
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <a href="#" class="btn-link pull-left" data-dismiss="modal">Sluiten</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->