/* Animations
   ========================================================================== */

.cl-animation-reverse {
  -webkit-animation-direction: reverse;
}

/* Fade animation */

@-webkit-keyframes fadein {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}

@-webkit-keyframes fadeout {
  0%   { opacity: 1;}
  100% { opacity: 0;}
}

.fade-enter {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 350ms;
}

.fade-leave {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 350ms;
}

/* Pop animation */

@-webkit-keyframes popin {
  0%   { -webkit-transform: scale(0);}
  50%  { -webkit-transform: scale(1.2);}
  100% { -webkit-transform: scale(1);}
}

@-webkit-keyframes popout {
  0%   { -webkit-transform: scale(1);}
  50%  { -webkit-transform: scale(1.2);}
  100% { -webkit-transform: scale(0);}
}

.pop-enter {
  -webkit-animation-name: popin;
  -webkit-animation-duration: 350ms;
}

.pop-leave {
  -webkit-animation-name: popout;
  -webkit-animation-duration: 350ms;
}

/* Pop message
   ========================================================================== */

.pop-message {
  background: rgba($gray-dark,0.8);
  width: 180px;
  padding: 20px 0;
  border-radius: 10px;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  border: 3px solid #FFF;
  p {
    margin: 0;
  }
  i {
    font-size: 64px;
  }
}