<form action="login-forgot-password-success.html" id="login-form">
  {% include logo.html %}

  <fieldset>
    {% if page.state == "success" %}
    <div class="alert alert-success">
        We stuurden verdere instructies naar uw e-mailadres. Kijk a.u.b. uw mailbox na. Kijk ook zeker in de spam folder als er geen mailtje aankomt.
    </div>
    {% endif %}

    {% if page.state == "error" %}
    <div class="alert alert-danger">
      {% if page.error-type == "unknown-email" %}
        Dit e-mail ades is niet bekend in ons systeem. Zoek a.u.b. naar "Ticketmatic" in uw mailbox om  het e-mailadres te vinden.
      {% endif %}
      {% if page.error-type == "invalid-email" %}
        Vul een geldig e-mailadres in.
      {% endif %}
    </div>
    {% endif %}

    {% if page.state == "success" %}<div class="hide">{% endif %}

    <p>Uw wachtwoord vergeten? Geen probleem, dat gebeurt. Vul het e-mailadres gelinkt aan uw account in zodat we u verdere instructies kunnen sturen.</p>

    <div class="form-inline form-group {% if page.state == "error" %}error{% endif %}">
        <label class="control-label" for="login-email">E-mail adres</label>
        <input type="email" id="login-email" class="form-control" placeholder="Uw e-mail">
        <input type="submit" class="btn btn-primary" value="Verzenden">
    </div>

    {% if page.state == "success" %}</div>{% endif %}
  </fieldset>
</form>