<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/invoices.html">
        <img src="/images/logo-icon.svg" alt="{{site.name}}">
      </a>
    </div>

    <div class="navbar-left navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if page.url contains 'invoices.html'  %}class="active"{% endif %}><a href="/invoices.html">Invoices</a></li>
        <li {% if page.url contains 'clients.html'  %}class="active"{% endif %}><a href="/clients.html">Clients</a></li>
        <li {% if page.url contains 'stats.html'  %}class="active"{% endif %}><a href="/stats.html">Statistics</a></li>
        <li {% if page.url contains 'app-settings.html'  %}class="active"{% endif %}><a href="/app-settings.html">Settings</a></li>
      </ul>
    </div>

    <div class="navbar-right navbar-collapse collapse">
      <ul class="nav navbar-nav bordered">
        <li>
          <a href="app-settings.html" title="Instellingen">
            <i class="glyphicon glyphicon-cog"></i>
            Instellingen
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="John Doe">
            <i class="glyphicon glyphicon-user"></i>
            John Doe
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/user-settings.html">User settings</a></li>
            <li><a href="/index.html">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>