<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/invoices.html">
        <img src="/images/logo.svg" alt="{{site.name}}">
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if page.url contains 'invoices.html'  %}class="active"{% endif %}><a href="/invoices.html">Invoices</a></li>
        <li {% if page.url contains 'clients.html'  %}class="active"{% endif %}><a href="/clients.html">Clients</a></li>
        <li {% if page.url contains 'stats.html'  %}class="active"{% endif %}><a href="/stats.html">Statistics</a></li>
        <li {% if page.url contains 'app-settings.html'  %}class="active"{% endif %}><a href="/app-settings.html">Settings</a></li>
      </ul>

      <div class="navbar-right">
        <a href="/add-invoice.html" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-plus-sign"></span> Add invoice</a>

        <div class="btn-group navbar-btn dropdown">
          <a class="dropdown-toggle btn btn-default" data-toggle="dropdown" href="#">
            <span>John Doe</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/user-settings.html">User settings</a></li>
            <li><a href="/index.html">Sign out</a></li>
          </ul>
        </div><!-- btn group -->
      </div> <!-- navbar right -->

    </div><!--/.nav-collapse -->
  </div>
</div>