<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/bower_components/jquery/jquery.min.js"><\/script>')</script>


<!-- jquery plugins -->
<script src="bower_components/jquery.extendedinput.js/js/jquery.extendedinput.js"></script>


<!--[if (lt IE 9) & (!IEMobile)]>
 <script src="/bower_components/respond/respond.min.js"></script>
<![endif]-->

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>