<!-- single -->
<div class="account-numbers clearfix">
    <span class="account-numbers-currency">€</span>
    <span class="account-numbers-value">1200,00</span>
</div>

<!-- multiple -->
<div class="account-numbers clearfix">
  <div>
    <span class="account-numbers-currency">€</span>
    <span class="account-numbers-value">1200,00</span>
  </div>
  <div>
    <span class="account-numbers-currency">€</span>
    <span class="account-numbers-value">110,45</span>
  </div>
  <div>
    <span class="account-numbers-currency">€</span>
    <span class="account-numbers-value">75510,45</span>
  </div>
</div>