<!-- .icon-delete -->
<div class="icon icon-delete"></div>
<hr>
<!-- .icon-edit -->
<div class="icon icon-edit"></div>
<hr>
<!-- .icon-list -->
<div class="icon icon-list"></div>
<hr>
<!-- .icon-plus -->
<div class="icon icon-plus"></div>
<hr>
<!-- .icon-warning -->
<div class="icon icon-warning"></div><hr>
<!-- .icon-settings -->
<div class="icon-large icon-settings"></div>
<hr>
<!-- .icon-stats -->
<div class="icon-large icon-stats"></div>
<hr>
<!-- .icon-users -->
<div class="icon-large icon-users"></div>
<hr>
<!-- .icon-invoices -->
<div class="icon-large icon-invoices"></div>
<hr>