<!-- .icon-delete -->
<div class="icon-delete" style="width: 16px; height: 16px"></div>
<hr>
<!-- .icon-edit -->
<div class="icon-edit" style="width: 16px; height: 16px"></div>
<hr>
<!-- .icon-list -->
<div class="icon-list" style="width: 16px; height: 16px"></div>
<hr>
<!-- .icon-plus -->
<div class="icon-plus" style="width: 16px; height: 16px"></div>
<hr>
<!-- .icon-warning -->
<div class="icon-warning" style="width: 16px; height: 16px"></div><hr>
<!-- .icon-settings -->
<div class="icon-settings" style="width: 48px; height: 48px"></div>
<hr>
<!-- .icon-stats -->
<div class="icon-stats" style="width: 48px; height: 48px"></div>
<hr>
<!-- .icon-users -->
<div class="icon-users" style="width: 48px; height: 48px"></div>
<hr>
<!-- .icon-invoices -->
<div class="icon-invoices" style="width: 48px; height: 48px"></div>
<hr>