<table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>
              <a href="#" title="Sort ascending">
                Name
                <span class="sortable">
                  <b class="caret"></b>
                  <b class="caret flipped"></b>
                </span>
              </a>
            </th>
            <th class="sorted-asc">
              <a href="#" title="Sorted ascending">
                No.
                <span class="sortable">
                  <b class="caret"></b>
                  <b class="caret flipped"></b>
                </span>
              </a>
            </th>
            <th>
              <a href="#" title="Sort ascending">
                Status
                <span class="sortable">
                  <b class="caret"></b>
                  <b class="caret flipped"></b>
                </span>
              </a>
            </th>
            <th>
              <a href="#" title="Sort ascending">
                Value BTW in.
                <span class="sortable">
                  <b class="caret"></b>
                  <b class="caret flipped"></b>
                </span>
              </a>
            </th>
            <th>
              <a href="#" title="Sort ascending">
                Value BTW ex.
                <span class="sortable">
                  <b class="caret"></b>
                  <b class="caret flipped"></b>
                </span>
              </a>
            </th>
            <th>
              <a href="#" title="Sort ascending">
                BTW
                <span class="sortable">
                  <b class="caret"></b>
                  <b class="caret flipped"></b>
                </span>
              </a>
            </th>
            <th>
              <a href="#" title="Sort ascending">
                Due date
                <span class="sortable">
                  <b class="caret"></b>
                  <b class="caret flipped"></b>
                </span>
              </a>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td><a href="edit-invoice.html">Client name</a></td>
            <td>221</td>
            <td>
              <span class="label label-default">Not paid</span>
            </td>
            <td>€1210</td>
            <td>€1000</td>
            <td>€210</td>
            <td>In 5 days</td>
            <td>
              <a href="edit-invoice.html" class="btn btn-default btn-xs">Edit</a>
              <a href="#" class="btn btn-default btn-xs">Delete</a>
            </td>
          </tr>

          <tr>
            <td><a href="edit-invoice.html">Client name</a></td>
            <td>221</td>
            <td>
              <span class="label label-danger">Overdue</span>
            </td>
            <td>€5210</td>
            <td>€4000</td>
            <td>€210</td>
            <td>In 7 days</td>
            <td>
              <a href="edit-invoice.html" class="btn btn-default btn-xs">Edit</a>
              <a href="#" class="btn btn-default btn-xs">Delete</a>
            </td>
          </tr>

          <tr>
            <td><a href="edit-invoice.html">Client name</a></td>
            <td>221</td>
            <td>
              <span class="label label-default">Not paid</span>
            </td>
            <td>€1210</td>
            <td>€1000</td>
            <td>€210</td>
            <td>In 5 days</td>
            <td>
              <a href="edit-invoice.html" class="btn btn-default btn-xs">Edit</a>
              <a href="#" class="btn btn-default btn-xs">Delete</a>
            </td>
          </tr>

        </tbody>
      </table>