// Fix the font path temporarily
// -------------------------
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/bower_components/bootstrap-sass/vendor/assets/fonts//bootstrap/glyphicons-halflings-regular.eot');
  src: url('/bower_components/bootstrap-sass/vendor/assets/fonts//bootstrap/glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"), url('/bower_components/bootstrap-sass/vendor/assets/fonts//bootstrap/glyphicons-halflings-regular.woff') format("woff"), url('/bower_components/bootstrap-sass/vendor/assets/fonts//bootstrap/glyphicons-halflings-regular.ttf') format("truetype"), url('/bower_components/bootstrap-sass/vendor/assets/fonts//bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format("svg");
}

// other utility classes
// -------------------------
.leader{
  margin-top:0.8em;
}
.leader-large{
  margin-top:1.6em;
}
.trailer{
  margin-bottom:0.8em;
}
.trailer-large{
  margin-bottom:1.6em;
}

.m0{
  margin: 0;
}
.p0{
  padding: 0;
}

.vert-center-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.vert-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  float: none !important;
}
html, body{
  height:100%; // for vertical centering to work
}
// icon utilities
// -------------------------

.icon{
  display: inline-block;
  width:16px;
  min-height: 16px;
  line-height: 1;
  vertical-align: bottom;
}
.icon-large{
  @extend .icon;
  width:48px;
  min-height: 48px;
}

// Page header
// -------------------------

.page-header {
  margin-top: 0;
  h1 {
    margin-top: 0;
  }
}

// fix popover inside navbar narrow screens
// -------------------------
.navbar-collapse.in {
  overflow-y: visible;
}