// tmp fixes
@import "tmp";

// full bootstrap import
@import "bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";

$dropdown-caret-color: $gray-darker;

// extensions
@import "extensions/sortable-table";
@import "extensions/account-numbers";


// Page header
// -------------------------

.page-header {
  margin-top: 0;
  h1 {
    margin-top: 0;
  }
}