@import "application.scss";
@import "prototype/pygments";

.highlight {
  background: #FFF !important;
}

/* ==========================================================================
  Styleguide
   ========================================================================== */

body {
  // Reset to white
  background: #FFF;
  overflow: auto !important;
}

.style-guide-container {
  padding: 2.5%;
  max-width: 95%;
  .style-guide-nav {
    width: 15%;
    .list-group {
      width: 100%;
      max-width: 146px;
    }
    float: left;
    .affix, .affix-top {
      position: fixed;
      top: 27px;
    }
  }
  .style-guide-content {
    padding-left: 3%;
    width: 82%;
    float: left;
  }
}

#introduction {
  padding: 0 0 24px;
}

/* Component
   ========================================================================== */

.component {
  margin: 63px 0;
  padding: 27px 0;
  h2 {
    margin: 0 0 20px;
  }
}

.sample {
  //overflow: hidden;
  border-bottom: 1px solid $gray-lighter;
  padding: 0 0 20px;
  margin: 0 0 20px;
  &:last-child {
    border: none;
    padding: 0;
    margin: 0;
  }
  pre {
    margin: 0;
  }
  .markup {
    line-height: 1.3;
     white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
  .markup {
    width: 40%;
    float: left;
    font-family: Monaco, Menlo, monospace;
    font-size: 11px;
  }
  .style {
    padding-right: 5%;
    width: 55%;
    float: left;
  }
}


/* Overrides so we can shows elements that are normally hidden
   Like popovers and tooltips
   ========================================================================== */

.sample {
  @include clearfix;
  .style {
    position: relative;
    .tooltip {
      @include opacity(1);
    }
    .popover, .tooltip {
      margin: 20px;
      display: block;
      position: relative;
      float: left; // be the smallest you can be
    }
    .modal {
      display: block;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      margin: 20px;
      z-index: 1;
      max-width: 100%;
    }
  }
}

/* Component: colors
   ========================================================================== */

#component-colors {
  .colors {
    @include clearfix;
  }
  .colors > div {
    width: 150px;
    min-height: 120px;
    font-size: 11px;
    float: left;
    text-align: center;
  }
  .color-example {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block;
    padding: 0 0 8px;
  }
}

/* Component: icon font
   ========================================================================== */

#component-icon-font {
  .icons {
    clear: both;
    font-size: 24px;
    i {
      width: 64px;
      height: 64px;
      display: block;
      text-align: center;
      line-height: 64px;
      float: left;
    }
  }
  .app-icons {
    font-size: 48px;
    i {
      width: 96px;
      height: 96px;
      display: block;
      text-align: center;
      line-height: 95px;
      float: left;
    }
  }
}

/* Component: color test for chartss
   ========================================================================== */

.style-guide-container {
  .chart div {
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 12px;
  }
}
