<div id="component-sortable-table" class="component">

  <h2>Component: sortable table</h2>

  <table class="table table-horizontal">
    <tr>
      <th>CSS source file</th>
      <td><code>custom/_sortable-table.scss</code></td>
    </tr>
  </table>

  <div class="sample">
    <div class="style">
      {% include patterns/sortable-table.html %}
    </div>

    <button type="button" class="btn btn-xs btn-default" data-toggle="collapse" data-target="#component-sortable-table-code">Show code</button>
    <div id="component-sortable-table-code" class="collapse">
      <div class="markup">
{% highlight html %}
{% include patterns/sortable-table.html %}
{% endhighlight %}
      </div>
    </div>

  </div>


</div>
