
<div id="component-accounting" class="component">

  <h2>Component: Accounting numbers</h2>

  <table class="table table-horizontal">
      <tr>
          <th>CSS source file</th>
          <td><code>/_scss/extensions/_account-numbers.scss</code></td>
      </tr>
  </table>

  <div class="sample">
      <div class="style">
          {% include patterns/custom/account-numbers.html %}
      </div>
      <div class="markup">
{% highlight html %}
{% include patterns/custom/account-numbers.html %}
{% endhighlight %}
      </div>
  </div>

</div>