/* Main layout
   ========================================================================== */

body {
  height: 100%;
  background: $gray-lighter;
  > .container {
    margin-top: 20px;
  }
}

.navbar-inverse {
  margin: 0;
  border: none;
}
