<div class="form-group clearfix">
  <label for="addInvoiceAddress" class="col-sm-2 control-label">
    Address
    <abbr title="Required field">*</abbr>
  </label>
  <div class="col-sm-10">
    <input class="form-control trailer" id="addInvoiceAddress" placeholder="Street, number">

    <div class="row">
      <div class="col-xs-8">
        <input class="form-control trailer" id="addInvoiceAddressPlace" placeholder="City">
      </div>
      <div class="col-xs-4">
        <input class="form-control trailer" id="addInvoiceAddressPostalCode" placeholder="Postal code">
      </div>

    </div>
  </div>
</div>